<deployment>
    <hosts>
    <host name="localhost"
            dir="C:\Users\Admin\Documents\SU2023\CPS\CPS\deployement\"/>
    </hosts>
    <cyclicBarrier   hostname="localhost" port="55253"/>
    <globalRegistry  hostname="localhost" port="55252"/>
    <rmiRegistryPort no="55999"/>
    <jvms2hostnames>
    <jvm2hostname jvmuri="registryjvm"
        rmiRegistryCreator="true" 
        hostname="localhost"
        mainclass="bcm.DistributedCVM"/>
    <jvm2hostname jvmuri="clusterjvm1"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="bcm.DistributedCVM"/>
    <jvm2hostname jvmuri="clusterjvm2"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="bcm.DistributedCVM"/>
    <jvm2hostname jvmuri="clusterjvm3"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="bcm.DistributedCVM"/>
    <jvm2hostname jvmuri="clusterjvm4"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="bcm.DistributedCVM"/>
    <jvm2hostname jvmuri="clusterjvm5"
        rmiRegistryCreator="false"
        hostname="localhost"
        mainclass="bcm.DistributedCVM"/>
    </jvms2hostnames>
</deployment>